
<app-header></app-header>


<section class="wishlist">

    <div *ngIf="wishListItems.length==0" class="d-flex justify-content-center flex-column align-items-center">
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/empty-cart-8664444-6909519.png?f=webp"
            width="400px" alt="">
        <h3 class="text-danger">Your wishlist is empty</h3>
    </div>

    <div  *ngIf="wishListItems.length>0" class="d-flex justify-content-center align-items-center flex-column mt-5">
        <h4 class="">Your wishlist</h4>

        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5" *ngFor="let items of wishListItems">
                    <div class="card h-100" >
                        <!-- Product image-->
                        <img class="card-img-top p-3" [src]='items.image' height="230px" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{items.title}}</h5>
                                <!-- Product price-->
                                $ {{items.price}}
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="d-flex justify-content-between ms-3 me-3 mb-3">
                            <a class="btn btn-outline-danger" (click)="removeItem(items._id)"><i class="fa-solid fa-trash"></i></a>
                            <a class="btn btn-outline-success" (click)="addtoCart(items)"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>